<main class="index">
    <header class="masthead d-flex">
        <div class="container-fluid text-center my-auto">
            <h1 class="mb-1" style="color: black;">BibliotecaLinks</h1>
            <h3 class="mb-5">
                <em style="color: black;" >Colecciona tus enlaces favoritos</em>
            </h3>
            <a class="btn btn-primary" href="/login">Empecemos</a>
        </div>
    </header>
</main>